/* -------------------------
SCSS VARIABLES
------------------------- */
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0px;
  padding-right: 0px; }

/* -------------------------
            HEADER
------------------------- */
header {
  background: #257ca3;
  background-size: cover;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  min-height: 15rem;
  margin-left: -15px;
  margin-right: -15px; }

h1 {
  color: #f7f7f7;
  font-size: 4rem;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

h1:hover {
  -moz-transform: scale(1.1);
  transform: scale(1.1); }

/* -------------------------
LISTS OF SEARCHABLE ITEMS
------------------------- */
.character-list, .species-list, .planet-list, .starship-list, .vehicle-list, .film-list {
  display: none;
  padding: 2rem; }

.character-list p, .species-list p, .planet-list p, .starship-list p, .vehicle-list p, .film-list p {
  transition: all 0.2s ease-in-out; }

.film-list p {
  font-size: 120%; }

.character-list p:hover, .species-list p:hover, .planet-list p:hover, .starship-list p:hover, .vehicle-list p:hover, .film-list p:hover {
  transform: scale(1.3); }

/* -------------------------
    SW TRIVIA QUESTIONS
------------------------- */
@keyframes move {
  0%, 100% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -200px); } }

.question1, .question2, .question3 {
  color: #708090;
  opacity: 0;
  padding: 1.25rem 0;
  width: 50%; }

.question1 p, .question2 p, .question3 p {
  color: #257ca3;
  font-size: 110%; }

.answer1, .answer2, .answer3 {
  opacity: 0; }

.sw-icons {
  width: 3rem; }

.fadeIn {
  -moz-opacity: 1;
  opacity: 1;
  transition: opacity 2.25s ease-in-out;
  -webkit-opacity: 1; }

.fadeOut {
  opacity: 0;
  transition: opacity 2.25s ease-in-out; }

.move-up {
  animation: move 5.9s;
  animation-direction: normal;
  animation-fill-mode: forwards; }

/* -------------------------
    SEARCH CATEGORIES
------------------------- */
.main-content {
  position: relative;
  z-index: 1; }

.div1row1, .div2row1, .div3row1, .div1row2, .div2row2, .div3row2 {
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
  height: 24rem; }

.characters {
  background-image: url(../img/yoda.png);
  background-size: cover; }

.starships {
  background-image: url(../img/starships.jpg);
  background-size: cover; }

.planets {
  background-image: url(../img/planet2.jpg);
  background-size: cover;
  background-position: 80% 0; }

.vehicles {
  background-image: url(../img/at-at.jpg);
  background-size: cover; }

.films {
  background-image: url(../img/films.jpg);
  background-size: cover; }

.species {
  background-image: url(../img/species.jpg);
  background-size: cover; }

.characters, .starships, .planets, .vehicles, .films, .species {
  transition: all 0.4s ease-in-out; }

.characters:hover, .starships:hover, .planets:hover, .vehicles:hover, .films:hover, .species:hover {
  transform: scale(1.2); }

button.char-stats.btn.btn-lg, button.api-call.btn.btn-lg, button.back.btn.btn-lg {
  background: #257ca3;
  border-radius: 0;
  color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 3rem;
  opacity: 1;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s; }

button.get-stats.btn.btn-lg:hover, button.api-call.btn.btn-lg:hover, button.btn.btn-lg.back:hover {
  background: #f7f7f7;
  border: 1px solid #257ca3;
  color: #257ca3; }

/* -------------------------
    API SEARCH PAGE
------------------------- */
h3 {
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
  color: #708090; }

input.searchCharInput {
  font-family: 'Ubuntu';
  font-size: 110%;
  margin-top: 3rem;
  opacity: 1;
  padding: 1rem 0.5rem; }

button.btn.btn-lg {
  background: #257ca3;
  border-radius: 0;
  color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 3rem;
  opacity: 1;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s; }

button.btn.btn-lg:hover {
  background: #f7f7f7;
  border: 1px solid #257ca3;
  color: #257ca3;
  outline: none; }

.charInput, .speciesInput, .planetInput, .starshipInputField, .vehicleInput, .filmInput, .searchButtonChar, .searchButtonPlanets, .searchButtonSpecies, .searchButtonStarships, .searchButtonVehicles, .searchButtonFilms {
  display: none; }

.searchCharInput::-webkit-input-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

::-moz-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

:-ms-input-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

:-moz-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

.searchCharInput:focus::-webkit-input-placeholder {
  color: transparent; }

.searchCharInput:focus:-moz-placeholder {
  color: transparent; }

.searchCharInput:focus::-moz-placeholder {
  color: transparent; }

.searchCharInput:focus:-ms-input-placeholder {
  color: transparent; }

button.btn.btn-lg.back {
  padding: 10px 30px; }

button.btn.btn-lg.back {
  opacity: 0;
  padding: 10px 30px; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #257ca3;
  text-decoration: none; }

.api-container {
  background-image: url(../img/xwingfaded.jpg);
  background-size: cover;
  height: 0;
  margin-left: -15px;
  margin-right: -15px;
  opacity: 0;
  position: relative;
  z-index: 999; }

.data-div {
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.3);
  height: 0; }

.api-response {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  line-height: 2.8;
  text-align: center;
  text-justify: left; }

.api-response p {
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  border-right: .15em solid transparent;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.3);
  color: black;
  font-weight: bold;
  letter-spacing: .15em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  white-space: nowrap; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: transparent; } }

/* -------------------------
          FOOTER
------------------------- */
footer {
  background-color: #257ca3;
  color: white;
  height: 25rem;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  position: relative;
  width: 100%; }

footer p {
  font-size: 110%; }

footer .contact-info a {
  color: white;
  text-decoration: none; }

footer .contact-info a:hover {
  opacity: 0.6; }

.copyright {
  bottom: 5px;
  position: absolute; }
