* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  background: #257ca3;
  background-size: cover;
  color: white;
  margin-right: -15px;
  margin-left: -15px;
  font-family: 'Ubuntu', sans-serif;
  height: 15rem; }

h1 {
  color: #f7f7f7; }

.move-up {
  animation: move 8s;
  animation-fill-mode: forwards;
  animation-direction: normal; }

@keyframes move {
  0%, 100% {
    transform: translate(0, 0); } }

.question1, .question2, .question3 {
  opacity: 0;
  color: #708090;
  padding: 1.25rem 0;
  width: 50%; }

.question1 p, .question2 p, .question3 p {
  font-size: 110%; }

.answer1, .answer2, .answer3 {
  opacity: 0; }

.sw-icons {
  width: 3rem; }

.fadeIn {
  opacity: 1;
  transition: opacity 2.25s ease-in-out; }

.fadeOut {
  opacity: 0;
  transition: opacity 2.25s ease-in-out; }

.main-content {
  position: relative;
  z-index: 1; }

.div1row1, .div2row1, .div3row1, .div1row2, .div2row2, .div3row2 {
  height: 24rem;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2); }

.characters {
  background-image: url(../img/yoda.png);
  background-size: cover; }

.starships {
  background-image: url(../img/starships.jpg);
  background-size: cover; }

.planets {
  background-image: url(../img/planet2.jpg);
  background-size: cover;
  background-position: 80% 0; }

.vehicles {
  background-image: url(../img/at-at.jpg);
  background-size: cover; }

.films {
  background-image: url(../img/films.jpg);
  background-size: cover; }

.species {
  background-image: url(../img/species.jpg);
  background-size: cover; }

.characters, .starships, .planets, .vehicles, .films, .species {
  transition: all 0.4s ease-in-out; }

.characters:hover, .starships:hover, .planets:hover, .vehicles:hover, .films:hover, .species:hover {
  transform: scale(1.2); }

h3 {
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
  color: #708090; }

input.searchCharInput, input.searchSpeciesInput {
  opacity: 1;
  padding: 0.5rem;
  margin-top: 3rem;
  font-family: 'Ubuntu';
  font-size: 110%; }

.searchCharInput::-webkit-input-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

::-moz-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

:-ms-input-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

:-moz-placeholder {
  color: #708090;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  text-align: center; }

.searchCharInput:focus::-webkit-input-placeholder,
.searchCharInput:focus::-webkit-input-placeholder {
  color: transparent; }

.searchCharInput:focus:-moz-placeholder {
  color: transparent; }

.searchCharInput:focus::-moz-placeholder {
  color: transparent; }

.searchCharInput:focus:-ms-input-placeholder {
  color: transparent; }

button.btn.btn-lg {
  border-radius: 0;
  opacity: 1;
  margin-top: 3rem;
  background: #257ca3;
  color: #f7f7f7;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

button.btn.btn-lg:hover {
  background: #f7f7f7;
  color: #257ca3;
  border: 1px solid #257ca3; }

button.btn.btn-lg.back {
  padding: 10px 30px; }

.api-container-char, .api-container-species, .api-container-planets, .api-container-starships, .api-container-vehicles, .api-container-films {
  background-image: url(../img/xwingfaded.jpg);
  background-size: cover;
  opacity: 0;
  position: relative;
  z-index: 999;
  height: 0;
  margin-right: -15px;
  margin-left: -15px; }

.data-div {
  height: 30rem;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.3);
  height: 0; }

.api-response-char, .api-response-species, .api-response-planets, .api-response-starships, .api-response-vehicles, .api-response-films {
  line-height: 2.8;
  text-align: center;
  text-justify: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem; }

.api-response-char p, .api-response-species p, .api-response-planets p, .api-response-starships p, .api-response-starships p, .api-response-vehicles p, .api-response-films p {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  color: black;
  font-weight: bold;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.3); }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: transparent; } }

.backHome {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: inline-block;
  text-align: center;
  color: #f7f7f7; }

footer {
  background-color: #257ca3;
  color: white;
  height: 20rem;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%; }
